body {
  background-color: #DCDCDC;
}

header {
  font-family: cursive;
  font-size: 80px;
  padding-left: 350px;
  border-bottom: 20px dotted #6495ED;
}

h3 {
  font-size: 300%;
  padding-left: 150px;
  font-style: italic;
  color: #6495ED;
  font-weight: bold;
}

nav > ul > li {
  display: inline-flex;
  font-family: cursive;
  padding: 10px;
  padding-left: 90px;
  color: darkslateblue;
  font-size: 30px;
}

ol > li {
  list-style-type: none;
  font-size: 40px;
  padding-bottom: 10px;
  padding-left: 800px;
  font-family: fantasy;
}

a[href] {
  background-position: center;
  color: darkslateblue
}


p {
    color: green;
    font-family: Arial;
    font-size: 2em;
    font-variant: inherit;
    font-size: 24px;

}

input[type="text"] {
  border: 1.5px solid #000;
  margin: 0 0 2em 0;
  padding: 15px;
  width: 23%;
  background-color: darkgray;
}


textarea {
background-color: darkgrey;
width: 70%;
border: 1.5px solid #000;
margin: 0 0 2em 0;
padding: 15px;
}

label > login.html {
    margin: 0 0 2em 0;
}

footer > p {
  color: black;
  text-align: center;
  letter-spacing: 4px;
  font-family: Arial;
  font-size: 18px;
  border-top: 10px dotted #6495ED;
  padding: 2px;
}


a:hover {
  color: hotpink;
}

tr:hover {
  background-color: #B404AE;
  color: white;
}
