body {
  background-color: #DCDCDC;
}

header {
  font-family: cursive;
  font-size: 80px;
  padding-left: 350px;
  border-bottom: 20px dotted #6495ED;
}

nav > ul > li {
  display: inline-flex;
  font-size: 1.6em;
  font-family: cursive;
  padding: 20px;
  padding-left: 140px;
  color: darkslateblue;
}

ol > li {
  list-style-type: none;
  font-size: 30px;
  padding-bottom: 50px;
  padding-left: 900px;
  font-family: fantasy;
}

a[href] {
  background-position: center;
  background-color: #F2F5A9;
  color: darkslateblue
}


p {
    color: green;
    font-family: Arial;
    font-size: 2em;
    font-variant: inherit;
    font-size: 24px;

}

.boxtest{
  border: 3px solid blue;
  word-spacing: 5px;
  letter-spacing: .2px;
  text-align: left;
}


input[type="text"] {
  border: 1.5px solid #000;
  margin: 0 0 2em 0;
  padding: 15px;
  width: 40%;
  background-color: darkgray;
}

textarea {
background-color: darkgrey;
}

label > login.html {
    margin: 0 0 2em 0;
}


footer > p {
  color: black;
  text-align: center;
  letter-spacing: 4px;
  font-family: Arial;
  font-size: 18px;
  border-top: 10px dotted #6495ED;
  padding: 2px;
}

p::first-letter {
  font-style: italic;
  font-size: 1.8rem
}

p::selection {
  background-color: #D8D8D8;
  color: white;
}

a:hover {
  color: purple;
}

tr:hover {
  background-color: #B404AE;
  color: white;
}
