body {
  background-color: #DCDCDC;
  padding: 0;
  margin: 0;
}

header {
  font-family: cursive;
  font-size: 80px;
  padding-left: 350px;
  border-bottom: 20px;

}

body > h3 {
  font-size: 175%;
  padding-left: 30px;
  font-style: normal;
  color: #6495ED;
  font-family: georgia;
  text-decoration: underline;
  display: flex;
  flex-direction: column;

}

nav > ul > li {
  display: inline-flex;
  font-family: georgia;
  padding: 10px;
  padding-left: 120px;
  color: darkslateblue;
  font-size: 27px;
}

ol > li {
  list-style-type: none;
  font-size: 40px;
  padding-bottom: 10px;
  padding-left: 700px;
  font-family: georgia;
}

a[href] {
  background-position: center;
  color: darkslateblue
}


p {
    color: black;
    font-family: Arial;
    font-size: 16px;

}

 main > p  {
   display: grid;
   text-align: left;
   padding-left: 80px;
   padding-bottom: 0px;
   padding-right: 80px;

}

input[type="text"] {
  border: 1px solid #000;
  border-radius: 6px;
  margin: 0 0 2em 0;
  padding: 15px;
  background-color: darkgray;
  width: 300px;
}
 #address {
  width: 280px;
}

#phone {
  width: 290px;
}

#email {
  width: 290px;
}

#age {
  width: 170px;
}

#password {
  width: 315px;
}

label{
    font-size: 18px;
    font-family: georgia;
    margin-left: 20px;
}

textarea {
background-color: darkgrey;
width: 50%;
border: 1px solid #000;
border-radius: 6px;
margin: 0em 0 2em 4em;
margin-left: 25px;
padding: 15px;
}


nav ol li {
  font-size: 25px;
  font-family: georgia;
  padding-left: 0px;
  border: 1.3px solid #000;
  border-radius: 6px;
  width: 120px;
  padding-left: 10px;

}

div.gallery {
  display: block;
  margin-left: 1150px;
  border: 1.2px solid black;
  border-radius: 6px;
  width: 155px;
  height: 210px;

}

label > login.html {
    margin: 0 0 2em 0;
}

figure #owner_profile {
  position: relative;
  left: 60px;
  top: 90px;
  bottom: 180px;
  border: 3px solid black;
  padding: 10px;
  float: left;
  margin-right: 5px;
}

em {
  padding-left: 250px;
  font-weight: bold;
  font-size: 1rem;
}

i {
  font-weight: bold;
  text-decoration: underline;
  padding-top: 20px;
}

figure #Jocelyncloseup {
  position: relative;
  left: 60px;
  top: 10px;
  bottom: 180px;
  border: 3px solid black;
  padding: 10px;
  float: left;
  margin-right: 5px;

}

footer > p {
  color: black;
  text-align: center;
  letter-spacing: 5px;
  font-family: monospace;
  font-size: 20px;
  border-top: 10px dotted #6495ED;
  padding: 12px;
}


a:hover {
  color: hotpink;
}

tr:hover {
  background-color: #B404AE;
  color: white;
}
